<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Title</title>
</head>
<body>

<nav>
    <div class="nav-wrapper">
        <a href="{% url 'todo_list:index' %}" class="brand-logo right">Home </a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="{% url 'todo_list:search' %}">Search</a></li>
            <li><a href="{% url 'user:login' %}">Logout</a></li>

        </ul>
    </div>
</nav>
<h4><font color="#2e4275">
    <center>My Regular To Do List</center>
</font></h4>

<br>
<br>

{% block content %}
{% endblock %}


<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>